    <header class="site-header">
      <div class="container">
        <a class="title" href="index.html"><img alt="Feuerwehr-Logo" src="ffgailogo.png" class="logo">
        <h1>
          Freiwillige Feuerwehr St. Gertraudi
        </h1></a>
        <nav class="menu">
          <ul>
            <li>
              <a href="galerie.html">Galerie</a>
            </li>
            <li>
              <a href="impressum.html">Impressum</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
