    <header class="site-header">
      <div class="container">
        <a class="title" href="{{ site.baseurl }}"><img alt="Feuerwehr-Logo" src="{{ site.baseurl }}/ffgailogo.png" class="logo">
        <h1>
          Freiwillige Feuerwehr St. Gertraudi
        </h1></a>
        <nav class="menu">
          <ul>
            <li>
              <a href="{{ site.baseurl }}/events">Events</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/galerie">Galerie</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/impressum">Impressum</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
